/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "sticky-footer";

.rise {
  font-size: 55%;
  color: #4CAF50;
  &::before {
    content: '▲';
  }
}
.fall {
  font-size: 55%;
  color: #FF5722;
  &::before {
    content: '▼';
  }
}

.btn-detail {
  margin-top: 30px;
  padding-right: 20px;
  cursor: pointer;
}

.detail {
  .status {
    font-size: 28px;
  }
}

.price {
  /* Portrait tablets and small desktops */
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-4:first-child, .col-md-4:last-child {
      text-align: center;
    }
  }

  /* Landscape phones and portrait tablets */
  @media (max-width: 767px) {
    .col-md-4:first-child, .col-md-4:last-child {
      text-align: center;
    }
  }

  /* Portrait phones and smaller */
  @media (max-width: 480px) {
    .col-md-4:first-child, .col-md-4:last-child {
      text-align: center;
    }
  }
}
